# Ignorar o ambiente virtual
.venv/

# Ignorar os dados
data/

# Ignorar os modelos (o .pkl é rastreado pelo LFS, mas tudo bem)
models/

# Arquivos de cache do Python
__pycache__/

# IGNORAR OS LOGS DO MLFLOW (A CORREÇÃO)
mlruns/